<p>&nbsp;</p>
<p><span style="color: #993300;"><img style="display: block; margin-left: auto; margin-right: auto;"
            src="https://cdn.exoticindia.com/details/books-2017/nzk648.jpg" alt="Surya Siddhant" width="225"
            height="284" /></span></p>
<table style="height: 105px; border-collapse: collapse;" width="562">
    <tbody>
        <tr style="height: 31.1667px;">
            <td style="width: 552.667px; height: 31.1667px; text-align: center;"><img
                    src="https://cdn.dribbble.com/users/411234/screenshots/2427834/star.png" alt="Image result for star"
                    width="53" height="40" /><img
                    src="https://cdn.dribbble.com/users/411234/screenshots/2427834/star.png" alt="Image result for star"
                    width="53" height="40" /><img
                    src="https://cdn.dribbble.com/users/411234/screenshots/2427834/star.png" alt="Image result for star"
                    width="53" height="40" /><img
                    src="https://cdn.dribbble.com/users/411234/screenshots/2427834/star.png" alt="Image result for star"
                    width="53" height="40" /><img
                    src="https://cdn.dribbble.com/users/411234/screenshots/2427834/star.png" alt="Image result for star"
                    width="53" height="40" /></td>
        </tr>
    </tbody>
</table>
<p style="text-align: center; width: 30%; display: block; margin-left: auto; margin-right: auto; "><strong>The Surya
        Siddhanta is the name of a Sanskrit treatise in Indian astronomy
        from the late 4th-century or early 5th-century CE. The text survives in several versions, was cited and
        extensively quoted in a 6th-century CE text by Varahamihira, was likely revised for several centuries under the
        same title.&nbsp;</strong></p>
